<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/style.css}" href="../static/css/style.css"/>
    <title>header</title>
</head>
<body>
    <div class="header" th:fragment="header">
      <h1>Let's Party!</h1>
        <div class="nav">
          <a class="buttonLook menuButton" th:href="@{/home}">home</a>
          <a class="buttonLook menuButton" th:href="@{/about}">about</a>
          <a class="buttonLook menuButton" th:href="@{/venuelist}">venuelist</a>
          <a class="buttonLook menuButton" th:href="@{/pay}">pay</a>
        </div>
    </div>
</body>
</html>