body{
    background-color: lightseagreen;
}

.buttonLook{
    width:200px;
    height:50px;
    margin-right:40px;
    margin-left:10px;
    display:inline-block;
    font-size:14px;
    text-decoration: none;
    text-align: center;
    background-color: black;
}

.buttonLook:hover{
    background-color: white;
}

.container{
    margin: 10px;
}

.menuButton{
    float: left;
}

.nav{
    overflow: hidden;
    position: relative;
    top: 170px;
}

header{
    background-image: url("../partyproject/images/image2.jpg");
}

.buttonlist{
    list-style: none;
}

.buttonlist li a{
    width: 800px;
    height: 50px;
    display: block;
    line-height: 50px;
    font-size: 18px;
    text-align: center;
    text-decoration: none;
    margin-bottom: 15px;
}

h1{
    font-family: Verdana;
    color: blanchedalmond;
    font-size: 60px;
    padding: 40px;
    text-align: center;
}

h2{
    font-family: Verdana;
    font-size:18px;
    font-weight: bold;
}

p{
    font-family: Verdana;
    font-size: 14px;
    font-weight: bold;
}