body{
    background-color: lightseagreen;
}

h1{
    font-family: Verdana;
    color: blanchedalmond;
    font-size: 60px;
    padding: 40px;
    text-align: center;
}

h2{
    font-family: Verdana;
    font-size:18px;
    font-weight: bold;
}

p{
    font-family: Verdana;
    font-size: 14px;
    font-weight: bold;
}