<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/style.css}" href="../static/css/style.css"/>
    <title>Animal Details</title>
</head>
<body>
<div th:replace="fragments/header :: header">Header</div>
<div class="border">
  <a th:if="${animal}" th:href="@{|/animaldetails/${prevIndex}|}" href="#" class="nextprev">&lt;</a>
</div>
<div class="border">
  <a th:if="${animal}" th:href="@{|/animaldetails/${nextIndex}|}" href="#" class="nextprev">&gt;</a>
</div>
<div th:replace="fragments/footer :: footer">Footer</div>
</body>
</html>