<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Venue details</title>
  <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/style.css}" href="../static/css/style.css"/>
</head>
<body>
<div th:replace="fragments/header :: header">header</div>

<div class="border">
  <a th:href="@{|/venuedetailsbyindex/${prevIndex}|}" href="#" class="nextprev">&lt;</a>
</div>
<div class="container">
  <h1 th:text="${venueTitle}">venueTitle</h1>
  <p>Welcome to the Venue Index Page.</p>
  <div th:if="${venue}">
    <h1 th:text="${venue.venueName}">venueTitle</h1>
    <a th:href="${venue.linkMoreInfo}" href="#">More info</a>
  </div>
</div>
    <p th:unless="${venue}">No valid venue is chosen</p>

<div class="border">
  <a th:href="@{|/venuedetailsbyindex/${nextIndex}|}" href="#" class="nextprev">&gt;</a>
</div>
</body>
</html>