<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Venue list</title>
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/style.css}" href="../static/css/style.css"/>
</head>
<body>
<div th:replace="fragments/header :: header">header</div>

<div class="container">
    <h2>Venue list</h2>
    <ul class="buttonlist">
        <li th:each="venuename, iStat:${venuenames}">
            <a th:href="@{|/venuedetailsbyindex/${iStat.index}|}" th:text="|${venuename}', met index: ' ${iStat.index} ' met in totaal ' ${iStat.size} ' elementen.'|" href="">venue name</a>
        </li>
    </ul>
</div>
</body>
</html>