<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
  <meta charset="UTF-8">
  <title>Venue list</title>
  <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/style.css}" href="../static/css/style.css"/>
</head>
<body>
<div th:replace="fragments/header :: header">header</div>

<div class="border"></div>

<div class="container">

  <h2>Venue list</h2>

  <div th:if="${showFilters}" class="filters">
    <a class="buttonLook filterButton" th:href="@{|/venuelist}">Filter</a>

    <form>
      <h3>Capacity</h3>
      <div class="oneFilter">
        <label for="minCapacity" class="filtername">min</label>
        <input type="number" id="minCapacity" name="minCapacity" value="0" step="50"> persons
      </div>
      <div>
        <label for="maxCapacity" class="filtername">max</label>
        <input type="number" id="maxCapacity" name="maxCapacity" value="0" step="50"> persons
      </div>
      <div class="oneFilter">
        <input type ="submit" value="search" class="buttonLook filterButton">
      </div>
      <h3>Food</h3>
      <div>
        <input type="radio" id="foodYes" name="filterFood" value="yes">
        <label for="foodYes" class="filtername">Yes</label>
      <div>
        <input type="radio" id="foodNo" name="filterFood" value="no">
        <label for="foodNo" class="filtername">No</label>
      </div>
      <div>
        <input type="radio" id="foodAll" name="filterFood" value="all">
        <label for="foodAll" class="filtername">All</label>
      </div>
      <div>
        <h3>Kids Friendly</h3>
        <input type="radio" id="kidsYes" name="filterKids" value="yes">
        <label for="kidsYes" class="filtername">Yes</label>
        <div>
          <input type="radio" id="kidsNo" name="filterKids" value="no">
          <label for="kidsNo" class="filtername">No</label>
        </div>
        <div>
          <input type="radio" id="kidsAll" name="filterKids" value="all">
          <label for="kidsAll" class="filtername">All</label>
        </div>
      </div>
      <div>
        <h3>Parking</h3>
        <input type="radio" id="parkingYes" name="filterParking" value="yes">
        <label for="parkingYes" class="filtername">Yes</label>
        <div>
          <input type="radio" id="parkingNo" name="filterParking" value="no">
          <label for="parkingNo" class="filtername">No</label>
        </div>
        <div>
          <input type="radio" id="parkingAll" name="filterParking" value="all">
          <label for="parkingAll" class="filtername">All</label>
        </div>
      </div>
    </form>
  </div>
  <p th:text="|${total} venues|"></p>

  <ul class="buttonlist">
    <li th:each="venue, iStat:${venues}">
    <a th:href="@{|/venuedetailsbyid/*{iStat.index +1}|}" th:text="|${venue.getVenueName()}|" href="">venue name</a>
    </li>
  </ul>
</div>

  <div th:if="${test}" th:text="${test}"></div>

<div class="border"></div>

</body>
</html>
