<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Venuedetails</title>
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/style.css}" href="../static/css/style.css"/>
</head>
<body>
<div th:replace="fragments/header :: header">header</div>
<div class="border"></div>
<div class="container">
    <h1 th:if="${venuename}" th:text="${venuename}">venuename</h1>
    <p th:unless="${venuename}">No venue is chosen</p>
    <p>Welcome to the Venue Page.</p>
    <div th:if="${venue}">
        <h1 th:text="${venue.venueName}">venuename</h1>
        <a th:href="${venue.linkMoreInfo}" href="#">More info</a>
    </div>
    <p th:unless="${venue}">No venue is chosen</p>
</div>
<div class="border"></div>
</body>
</html>